<div class="row">
    <div class="breadcrumb">
      <div class="col-sm-12 col-md-6">
        <h5>Tasklist</h5>
        <small class="text-muted">Tasks / TeamTaskList</small>
      </div>
      <div class="col-sm-12 col-md-6" align="right">

     
      </div>
    </div>
  </div>



  <div >
      
    <div class="card">
      <div class="card-body">
     
            <div *ngFor="let tasks of teamtasks">
                <div *ngIf="tasks.team == checkdepartment">
                 <h6 class="text-mute">{{tasks.date}} - {{tasks.time | date: 'HH:mm:ss' }}</h6>
                 <h5 class="text-dark">{{tasks.EmployeeName | titlecase}}</h5>
                 <h6 class="text-dark">
                    {{tasks.description}}
                 </h6>
                 <hr/>
            </div>
        </div>
      
      
      </div>
    </div>

